<h1>flatscreen.io</h1>
<p>Like tinder but for something important.</p><br>

<p>Shortlist page.</p>
<p></p>
<p>You've seen <%= @flats.count %> flats.</p>
<p></p>
<p>Here's your shortlist:</p>
<p></p>

<% @flats.each do |flat| %>
	<%= render partial: 'flat', locals: {flat: flat} %>
	<% end %>


