<h1>flatscreen.io</h1>
<p>Like tinder but more risky.</p>

<% if ! @no_results %>
	<p>Here's your next flat.</p>
	<%= render partial: 'flat', locals: { flat: @flat } %>
<% else %>
<p>No flats today, sorry</p>
<% end %>



<div>
	<form action='/thumbsup'>
	<input name="v" type='button' />
	<button>Thumbs up</button>
	</form>

	<form action='/nothanks'>
	<input name="x" type='button' />
	<button>No thanks</button>
	</form>
</div>

<p>
<a href='index'>Show my shortlist</a>
</p> 
