<h1>flatscreen.io</h1>
<p>Like tinder but more risky.</p>

<% if ! @no_results %>
	<p>Here's your next flat.</p>
	<%= render partial: 'flat', locals: { flat: @flat } %>
<% else %>
<p>No flats today, sorry</p>
<% end %>



<div>
<form action='/upvote'>
	<input name="v" type='integer' />
	<button>Thumbsup</button>
	<input name="x" type='integer' />
	<button>Nothanks</button>
	</form>
</div>

<p>
<a href='index'>Show my shortlist</a>
</p> 
